.date-section{
    display: flex;
    justify-content: space-between;
}

.team{
    display: flex;
    align-items: center;
}





@media screen and (max-width: 576px) {
    .team,.date-section{
        flex-direction: column;
    }
    .team h2,p{
        text-align: center;
    }
    .team h1{
        margin: 0 auto;
        margin-top: 10px;
    }
    .team-right{
        flex-direction: column-reverse;
    }
    .team-right p{
        padding: 10px;
        }
    .item{
            display: none;
        }  
        
      .tagg{
        display: none;
      }
    
    .card {
        flex-basis: 100%;
        order: 1; /* Display the card first in the column by default */
        /* Other card styles */
    }
      
    .text-left {
        flex-basis: 100%;
        order: 2; /* Display the text-left second in the column by default */
        /* Other text-left styles */
    }
      
    .text-right {
        flex-basis: 100%;
        order: 3; /* Display the text-right third in the column by default */
        /* Other text-right styles */
    }
}

@media screen and (min-width:577px) and (max-width:960px) {
    
      .tagg{
        display: none;
      }
}