.date-section{
    display: flex;
    justify-content: space-between;
}

.team{
    display: flex;
    align-items: center;
}

.banner-overlay {
    position: relative;
  }
  
  .banner-overlay::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2); /* Adjust the alpha (opacity) value to control the darkness */
  }



@media screen and (max-width: 576px) {
    .team,.date-section{
        flex-direction: column;
    }
    .team h2,p{
        text-align: center;
    }
    .team h1{
        margin: 0 auto;
        margin-top: 10px;
    }
    .team-right{
        flex-direction: column-reverse;
    }
    .team-right p{
        padding: 10px;
        }
    .item{
            display: none;
        }  
        
    .tagg{
        display: none;
      }
    
    .card {
        flex-basis: 100%;
        order: 1; /* Display the card first in the column*/
       
    }
      
    .text-left {
        flex-basis: 100%;
        order: 2; /* Display the text-left second in the column*/
        
    }
      
    .text-right {
        flex-basis: 100%;
        order: 3; /* Display the text-right third in the column */
       
    }
    
}

@media screen and (min-width:577px) and (max-width:960px) {
    
      .tagg{
        display: none;
      }
}